/* Google Font Links */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Shared Style */
* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

:root {
    --primary-color: #131318;
    --secondary-color: rgba(19, 19, 24, 0.70);
    --btn-color: #FF5400;
}

main {
    max-width: 1200px;
    margin: 50px auto;
}

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    padding: 16px;
    color: #fff;
}

.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.section-description {
    color: rgba(19, 19, 24, 0.70);
    margin-top: 1.5rem;
}

/* Header Section Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.nav-title {
    font-size: 2.3rem;
    font-weight: 700;
}

.hero-text {
    color: var(--primary-color);
}

.travel-text {
    color: var(--btn-color);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.8rem;
}

nav ul li a {
    text-decoration: none;
    color: #424247;
}

.home {
    color: var(--btn-color);
}

.hamburger {
    display: none;
}

/* Banner Section Design */
.banner {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    border-radius: 16px;
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    padding: 106px 185px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
}

.banner-description {
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 46px;
}

.banner-content form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.banner form input {
    padding: 16px;
    border-radius: 8px;
    border: 0;
}

/* Popular tour  */
.popular-tour {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.popular-tour-content ul {
    margin-left: 20px;
}

.popular-tour-content button {
    margin-top: 2rem;
}

/* Destination section */
.destination-section {
    margin-top: 100px;
    text-align: center;
}

.img-1 {
    grid-area: img-1;
}

.img-2 {
    grid-area: img-2;
}

.img-3 {
    grid-area: img-3;
}

.img-4 {
    grid-area: img-4;
}

.img-5 {
    grid-area: img-5;
}

.img-6 {
    grid-area: img-6;
}

.img-7 {
    grid-area: img-7;
}

.card-container {
    margin-top: 48px;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "img-1 img-1 img-2 img-2"
        "img-3 img-4 img-4 img-5"
        "img-6 img-6 img-7 img-7"
    ;
}

.card {
    border-radius: 16px;
    position: relative;
}

.card img {
    width: 100%;
    height: 300px;
    background-color: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
}

.card .card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 800;
    transform: translate(-50%, -50%);
}

/* Choose section */
.choose-section {
    margin-top: 100px;
}

.choose-section .section-title,
.section-description {
    text-align: center;
}

.choose-container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.choose-content {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

#choose-content-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-content h3 {
    margin-top: 2rem;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.choose-content p {
    color: #5A5A5D;
}

.third-choose-content {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

#choose-content-3 {
    max-width: 570px;
}

/* Deals section */
.deals {
    margin-top: 100px;
}

.deals .section-title,
.section-dscription {
    text-align: center;
}

.deals-container-1 {
    margin-top: 3rem;
    padding: 56px;
    background: url(../Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.deals-container-2 {
    margin-top: 3rem;
    padding: 56px;
    background: url(../Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.deals-content {
    width: 50%;
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    margin-left: auto;
    margin-top: 24px;
}
.deals-container-2 .deals-content{
    margin: 0;
}

.deals-content .deals-time {
    display: flex;
    gap: 24px;
}

.deals-content .deals-time p i {
    color: #FF5400;
    margin-right: 16px;
}

.deals-title {
    margin-top: 1.5rem;
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}
.deals-description,.deals-price{
    margin-top: 16px;
}
.deals-price{
    color: var(--btn-color);
    margin-bottom: 1.5rem;
}
.btn-div{
    margin-top: 16px;
    text-align: center;
}


/* Small Device */
@media screen and (max-width:576px) {

    /* Nav section */
    nav,.deals,.banner-content,.deals-content {
        padding: 20px;
    }

    .nav-title {
        font-size: 1.2rem;
    }

    .logo img {
        max-width: 50%;
    }

    .hamburger {
        display: initial;
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    nav ul>li {
        display: none;
    }

    /* Banner section */
    .banner {
        width: 90%;
    }

    .banner-title {
        font-size: 1.3rem;
    }

    .banner-content form,
    .popular-tour,
    .deals-content .deals-time {
        flex-direction: column;
        gap: 16px;
    }

    .banner-content form input {
        width: 80%;
    }

    .popular-tour {
        padding: 20px;
    }

    .popular-tour img {
        width: 100%;
    }

    .card-container {
        padding: 20px;
        grid-template-areas:
            "img-1"
            "img-2"
            "img-3"
            "img-4"
            "img-5"
            "img-6"
            "img-7"
        ;
    }

    .choose-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .third-choose-content {
        padding: 20px;
        margin-top: 0px;
    }
    .deals-container-1,.deals-container-2{
        padding: 187px 20px 20px 20px;
    }
    .deals-content{
        margin: 0 auto;
        width: 70%;
    }
    .deals-container-2 .deals-content{
        margin: 0 auto;
    }


}